.file-style {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    text-align: center;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .card {
    position: relative;
  }
  
  .card img {
    max-height: 150px;
    object-fit: cover;
  }
  
  small.bg-primary {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  